* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 33rem;
  background-color: #fff;
  margin: 0 auto;
  padding: 2rem 1.2rem;
  border-radius: 20px;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

h2 {
  color: #002765;
}

.input-box {
  background-color: #edeef0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 70%;
  border-radius: 20px;
  padding: 1rem;
}

.btn {
  border: none;
  background-color: #ff5900;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 1rem 3rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ff59009e;
  transition: 0.3s;
}

.btn:active {
  background-color: #ff5945;
  transition: 0.3s;
}

ul li {
  list-style: none;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  position: relative;
  cursor: pointer;
}

ul li::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-image: url("https://icons.veryicon.com/png/o/miscellaneous/wens/uncheck.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 10px;
  left: 0;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/greenline/512/check-512.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 10px;
  left: 0;
}

ul li span {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #555;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

ul li span:hover {
  background-color: #73737371;
}
